body {
  background: url("background.jpg");
  font-family:sans-serif;
}

#logo {
  text-align:center;
  background: #f6f6f6;
  transform: skewX(2deg) skewY(1deg);
  width: 500px;
  border-radius: 10px;
  padding:10px;
  margin: 20px auto 0px auto;
}


form {
  display:block;
  background: #fff;
  margin-top:10px;
  width:300px;
  margin: 20px auto;
  position:relative;
  padding: 1px;
  transform: skewX(-1deg) skewY(-1deg);
}

input {
  display: block;
  width:100%;
}

  input[type=file] {
    position:absolute;
    top:0px;
    opacity: 0.01;
    cursor:pointer;
  }

span {
  color: #37abc8;
  display: block;
  text-align:center;
  margin:0.5em;
  padding: 0.2em;
  font-weight:bold;
}

#loading {
  position:fixed;
  top: 50%;
  left: 50%;
  margin: -60px -60px;
  background: url("loading.gif") no-repeat center center;
  width:150px;
  height:150px;
  transform: scale(0.01);
  transition: all 0.25s;
}

  #loading.show {
    transform: scale(1);
  }

iframe {
  width:200px;
  height:200px;
}

ul {
  list-style:none;
  margin:0px;
  padding: 0px;
}

  ul li {
    padding: 0.5em 0.8em;
    margin: 1em auto;
    clear:both;
    width:100%;
    text-align:center;
  }
  
  ul li div {
      display: inline-block;
      text-align:left;
      margin: auto auto;
      background: #fff;
      color: #333;
      border-radius: 5px;     
      padding: 0.5em 1em;
  }

    ul li h1 {
      padding: 5px 0px 0px 0px;
      margin: 0px;
      color: #fc7244;
      font-weight:100;
      font-size:large;
    }

    ul li pre {
      margin: 0px;
      padding: 0px;
      font-family:sans-serif;
      color: #178ba8;
    }
